/* Global */
* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

/* Header content */

header{
    width: 100vw;
    height: 100vh;
    background-image: url("https://files.worldwildlife.org/wwfcmsprod/images/Atlantic_bluefin_tuna_253467_Tuna_Species/hero_full/52qdvvfopp_Bluefin_tuna_253467.jpg");
    background-position: bottom;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-content {
    margin-bottom: 150px;
    color: whitesmoke;
    text-align: center;
}
.header-content h1 {
    font-size: 4vmin;
    color: unset;
}

.header-line {
    width: 150px;
    height: 4px;
    background-color: #fc036b;
    margin: 10px auto;
    border-radius: 5px;
}